<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPathwayLabel" jhiTranslate="gatewayPathwayApp.pathway.home.createOrEditLabel">Create or edit a Pathway</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!pathway.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="pathway.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayPathwayApp.pathway.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="pathway.name" required maxlength="100" />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayPathwayApp.pathway.nameshort" for="field_nameshort">Nameshort</label>
            <input type="text" class="form-control" name="nameshort" id="field_nameshort"
                [(ngModel)]="pathway.nameshort" required maxlength="25" />
            <div [hidden]="!(editForm.controls.nameshort?.dirty && editForm.controls.nameshort?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nameshort?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nameshort?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 25 }">
                   This field cannot be longer than 25 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayPathwayApp.pathway.originjson" for="field_originjson">Originjson</label>
            <div class="modal-body">
                <div class="input-group">
                  <input type="text" class="form-control" name="originjson" id="field_originjson"
                      [(ngModel)]="pathway.originjson" maxlength="4000"/>
                  <span class="input-group-btn">
                       <button type="button" class="btn btn-default" (click)="open(origin)">Search</button>
                  </span>
                </div>      
            <div [hidden]="!(editForm.controls.originjson?.dirty && editForm.controls.originjson?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.originjson?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4000 }">
                   This field cannot be longer than 4000 characters.
                </small>
            </div>
        </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayPathwayApp.pathway.destinationjson" for="field_destinationjson">Destinationjson</label>
             <div class="input-group">
                  <input type="text" class="form-control" name="destinationjson" id="field_destinationjson"
                         [(ngModel)]="pathway.destinationjson" maxlength="4000"/>
                  <span class="input-group-btn">
                       <button type="button" class="btn btn-default" (click)="open(destination)">Search</button>
                  </span>
             </div> 
                    
            <div [hidden]="!(editForm.controls.destinationjson?.dirty && editForm.controls.destinationjson?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.destinationjson?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4000 }">
                   This field cannot be longer than 4000 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayPathwayApp.pathway.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="pathway.description" maxlength="255" />
            <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.description?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 255 }">
                   This field cannot be longer than 255 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayPathwayApp.pathway.status" for="field_status">Status</label>
            <input type="text" class="form-control" name="status" id="field_status"
                [(ngModel)]="pathway.status" required maxlength="25" />
            <div [hidden]="!(editForm.controls.status?.dirty && editForm.controls.status?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.status?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.status?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 25 }">
                   This field cannot be longer than 25 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayPathwayApp.pathway.lastmodifiedby" for="field_lastmodifiedby">Lastmodifiedby</label>
            <input type="text" class="form-control" name="lastmodifiedby" id="field_lastmodifiedby"
                [(ngModel)]="pathway.lastmodifiedby" required maxlength="50" />
            <div [hidden]="!(editForm.controls.lastmodifiedby?.dirty && editForm.controls.lastmodifiedby?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.lastmodifiedby?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.lastmodifiedby?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayPathwayApp.pathway.lastmodifieddatetime" for="field_lastmodifieddatetime">Lastmodifieddatetime</label>
            <div class="d-flex">
                <input id="field_lastmodifieddatetime" type="datetime-local" class="form-control" name="lastmodifieddatetime" [(ngModel)]="pathway.lastmodifieddatetime"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.lastmodifieddatetime?.dirty && editForm.controls.lastmodifieddatetime?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.lastmodifieddatetime?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.lastmodifieddatetime?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayPathwayApp.pathway.domain" for="field_domain">Domain</label>
            <input type="text" class="form-control" name="domain" id="field_domain"
                [(ngModel)]="pathway.domain" required maxlength="25" />
            <div [hidden]="!(editForm.controls.domain?.dirty && editForm.controls.domain?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.domain?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.domain?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 25 }">
                   This field cannot be longer than 25 characters.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="gatewayPathwayApp.pathway.pathwayrecordtype" for="field_pathwayrecordtype">Pathwayrecordtype</label>
            <select class="form-control" id="field_pathwayrecordtype" name="pathwayrecordtype" [(ngModel)]="pathway.pathwayrecordtype" >
                <option [ngValue]="null"></option>
                <option [ngValue]="pathwayrecordtypeOption.id === pathway.pathwayrecordtype?.id ? pathway.pathwayrecordtype : pathwayrecordtypeOption" *ngFor="let pathwayrecordtypeOption of pathwayrecordtypes; trackBy: trackPathwayrecordtypeById">{{pathwayrecordtypeOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="gatewayPathwayApp.pathway.pathwayclass" for="field_pathwayclass">Pathwayclass</label>
            <select class="form-control" id="field_pathwayclass" name="pathwayclass" [(ngModel)]="pathway.pathwayclass" >
                <option [ngValue]="null"></option>
                <option [ngValue]="pathwayclassOption.id === pathway.pathwayclass?.id ? pathway.pathwayclass : pathwayclassOption" *ngFor="let pathwayclassOption of pathwayclasses; trackBy: trackPathwayclassById">{{pathwayclassOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="gatewayPathwayApp.pathway.pathwaycategory" for="field_pathwaycategory">Pathwaycategory</label>
            <select class="form-control" id="field_pathwaycategory" name="pathwaycategory" [(ngModel)]="pathway.pathwaycategory" >
                <option [ngValue]="null"></option>
                <option [ngValue]="pathwaycategoryOption.id === pathway.pathwaycategory?.id ? pathway.pathwaycategory : pathwaycategoryOption" *ngFor="let pathwaycategoryOption of pathwaycategories; trackBy: trackPathwaycategoryById">{{pathwaycategoryOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="gatewayPathwayApp.pathway.pathwaytype" for="field_pathwaytype">Pathwaytype</label>
            <select class="form-control" id="field_pathwaytype" name="pathwaytype" [(ngModel)]="pathway.pathwaytype" >
                <option [ngValue]="null"></option>
                <option [ngValue]="pathwaytypeOption.id === pathway.pathwaytype?.id ? pathway.pathwaytype : pathwaytypeOption" *ngFor="let pathwaytypeOption of pathwaytypes; trackBy: trackPathwaytypeById">{{pathwaytypeOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>


<ng-template #origin let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Set Origin Asset</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
     <div class="input-group">
        <input id="search" type="text" class="form-control" name="search" [(ngModel)]="query" placeholder="Search Asset"  />
        <span class="input-group-btn">
               <button type="button" class="btn btn-default" (click)="searchAsset()">Search</button>
        </span>
    </div>    
    <ul *ngFor="let item of asset">
    <li (click)="setOrigin(item)">{{item.name}}</li>
    </ul>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<ng-template #destination let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Set Destination Asset</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
     <div class="input-group">
        <input id="search" type="text" class="form-control" name="search" [(ngModel)]="query" placeholder="Search Asset"  />
        <span class="input-group-btn">
               <button type="button" class="btn btn-default" (click)="searchAsset()">Search</button>
        </span>
    </div>
    <ul *ngFor="let item of asset">
    <li (click)="setDestination(item)">{{item.name}}</li>
    </ul>
    
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
