<div>
    <h2>
        <span jhiTranslate="gatewayPathwayApp.pathwayclass.home.title">Pathwayclasses</span>
        <button class="btn btn-primary float-right jh-create-entity create-pathwayclass" [routerLink]="['/', { outlets: { popup: ['pathwayclass-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="gatewayPathwayApp.pathwayclass.home.createLabel">
            Create new Pathwayclass
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gatewayPathwayApp.pathwayclass.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="pathwayclasses">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="gatewayPathwayApp.pathwayclass.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nameshort"><span jhiTranslate="gatewayPathwayApp.pathwayclass.nameshort">Nameshort</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="gatewayPathwayApp.pathwayclass.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="status"><span jhiTranslate="gatewayPathwayApp.pathwayclass.status">Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastmodifiedby"><span jhiTranslate="gatewayPathwayApp.pathwayclass.lastmodifiedby">Lastmodifiedby</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastmodifieddatetime"><span jhiTranslate="gatewayPathwayApp.pathwayclass.lastmodifieddatetime">Lastmodifieddatetime</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="domain"><span jhiTranslate="gatewayPathwayApp.pathwayclass.domain">Domain</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="pathwayrecordtype.name"><span jhiTranslate="gatewayPathwayApp.pathwayclass.pathwayrecordtype">Pathwayrecordtype</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pathwayclass of pathwayclasses ;trackBy: trackId">
                <td><a [routerLink]="['../pathwayclass', pathwayclass.id ]">{{pathwayclass.id}}</a></td>
                <td>{{pathwayclass.name}}</td>
                <td>{{pathwayclass.nameshort}}</td>
                <td>{{pathwayclass.description}}</td>
                <td>{{pathwayclass.status}}</td>
                <td>{{pathwayclass.lastmodifiedby}}</td>
                <td>{{pathwayclass.lastmodifieddatetime | date:'medium'}}</td>
                <td>{{pathwayclass.domain}}</td>
                <td>
                    <div *ngIf="pathwayclass.pathwayrecordtype">
                        <a [routerLink]="['../pathwayrecordtype', pathwayclass.pathwayrecordtype?.id ]" >{{pathwayclass.pathwayrecordtype?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../pathwayclass', pathwayclass.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'pathwayclass/'+ pathwayclass.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'pathwayclass/'+ pathwayclass.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="pathwayclasses && pathwayclasses.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
